name: Basic CI Pipeline

on: 
  push:
    branches:
      - master

jobs: 
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
    
      - name: Print message
        run:  
      
      - name: Check if file exists
        run: | 
          if [-f app.txt ]; then
            echo "File exists"

            exit 1

                fi
